---
import '../../public/styles.css';
---

<body>
	<div class="container-window center">
		<h1 class="title-name-thingy">will</h1>
		<p>just another idiot&#8482;</p>
		<hr>
		<h2>Hello!</h2>
		<p>
			My name's Guillermo, though I prefer being called Will online.<br>
			I like programming stuff and uh... here's some stuff I'm working on!
		</p>
		<hr>
		<div class="disp-flex">
			<div class="project-box">
				<img src="https://avatars.githubusercontent.com/u/142997164?s=200&v=4" width="45%">
				<h2>Pyramid Launcher</h2>
			</div>
			<div class="project-box">
				<img src="https://i.imgur.com/qSgA8RK.png" width="64%">
				<h2>TBH</h2>
			</div>
		</div>
	</div>
</body>