body {
    background: url("https://willysuna.s-ul.eu/dRZU270i") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: InterRegular;
}

h1 {
    font-size:4vw;
    font-family: InterBold;
}

h2 {
    font-family: InterSemiBold;
}

h3 {
    font-family: InterRegular;
}

h1, h2 {
    display: inline;
}

p{
    font-size: 90%;
}

.gradient {
    font-size: 72px;
    background: -webkit-linear-gradient(#bdbece, #edd6d2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bottom {
    bottom: 0;
    position: absolute;
}

.sidebar {
    background: #111213;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    width: 250px;
  }

.center {
    text-align: center;
}

.perfectcenter {
    text-align: left;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    background-color: white;
}

/* FONT SETUP */


@font-face {
    font-family: InterRegular;
    src: url("https://willysuna.dev/assets/Inter-Regular.ttf");
}

@font-face {
    font-family: InterSemiBold;
    src: url("https://willysuna.dev/assets/Inter-SemiBold.ttf");
}

@font-face {
    font-family: InterBold;
    src: url("https://willysuna.dev/assets/Inter-Bold.ttf");
}
